<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RsLib.Display3D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RsLib.Display3D.Properties.Settings>
            <setting name="Color_SelectPoint" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Color_SelectRange" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Color_StartPoint" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Color_EndPoint" serializeAs="String">
                <value>BlueViolet</value>
            </setting>
            <setting name="Color_MeasureLine" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="Size_SelectPoint" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Size_SelectRange" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Size_StartPoint" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Size_EndPoint" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Size_MeasureLine" serializeAs="String">
                <value>2</value>
            </setting>
        </RsLib.Display3D.Properties.Settings>
    </userSettings>
</configuration>