<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FT3D.CalculateMatrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Calculate3DOrig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FT3D.CalculateMatrix.Properties.Settings>
            <setting name="x1x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x1y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x1z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x2x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x2y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x2z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y2x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y2y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y2z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vxx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vxy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vxz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vyx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vyy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vyz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vzx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vzy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vzz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oz" serializeAs="String">
                <value>0</value>
            </setting>
        </FT3D.CalculateMatrix.Properties.Settings>
        <Calculate3DOrig.Properties.Settings>
            <setting name="x1x" serializeAs="String">
                <value />
            </setting>
            <setting name="x1y" serializeAs="String">
                <value />
            </setting>
            <setting name="x1z" serializeAs="String">
                <value />
            </setting>
            <setting name="x2x" serializeAs="String">
                <value />
            </setting>
            <setting name="x2y" serializeAs="String">
                <value />
            </setting>
            <setting name="x2z" serializeAs="String">
                <value />
            </setting>
            <setting name="y1x" serializeAs="String">
                <value />
            </setting>
            <setting name="y1y" serializeAs="String">
                <value />
            </setting>
            <setting name="y1z" serializeAs="String">
                <value />
            </setting>
            <setting name="y2x" serializeAs="String">
                <value />
            </setting>
            <setting name="y2y" serializeAs="String">
                <value />
            </setting>
            <setting name="y2z" serializeAs="String">
                <value />
            </setting>
            <setting name="vxx" serializeAs="String">
                <value />
            </setting>
            <setting name="vxy" serializeAs="String">
                <value />
            </setting>
            <setting name="vxz" serializeAs="String">
                <value />
            </setting>
            <setting name="vyx" serializeAs="String">
                <value />
            </setting>
            <setting name="vyy" serializeAs="String">
                <value />
            </setting>
            <setting name="vyz" serializeAs="String">
                <value />
            </setting>
            <setting name="vzx" serializeAs="String">
                <value />
            </setting>
            <setting name="vzy" serializeAs="String">
                <value />
            </setting>
            <setting name="vzz" serializeAs="String">
                <value />
            </setting>
            <setting name="ox" serializeAs="String">
                <value />
            </setting>
            <setting name="oy" serializeAs="String">
                <value />
            </setting>
            <setting name="oz" serializeAs="String">
                <value />
            </setting>
        </Calculate3DOrig.Properties.Settings>
    </userSettings>
</configuration>